$size: 200px;
$size-tablet: 175px;
$size-desktop: 150px;

.flex-grid {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;

  .flex-grid-item {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $size;
    margin: 4px;
    position: relative;
    width: $size;

    &.size-2 {
      width: 2 * $size;
    }

    &.size-3 {
      width: 3 * $size;
    }

    @media (min-width: $breakpoint-tablet) {
      height: $size-tablet;
      width: $size-tablet;

      &.size-2 {
        width: 2 * $size-tablet;
      }
  
      &.size-3 {
        width: 3 * $size-tablet;
      }
    }

    @media (min-width: $breakpoint-desktop) {
      height: $size-desktop;
      width: $size-desktop;

      &.size-2 {
        width: 2 * $size-desktop;
      }
  
      &.size-3 {
        width: 3 * $size-desktop;
      }
    }

    .image-wrapper {
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 1;

      &:hover {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
        opacity: 0.8;
      }
    }
  }
}
