{
  "sourceMaps": true,
  "presets": [
    "es2015"
  ],
  "plugins": [
    "lodash",
    ["transform-react-jsx", { "pragma": "h" }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["transform-react-jsx", { "pragma":"h" }]
      ]
    }
  }
}