header {
	background: $background-dark;
	border-bottom: 2px solid $orange;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	display: flex;
	height: $header-height;
	left: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
