@import "icomoon";
@import "variables";

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

.page-wrapper {
	background: url(/assets/bright-squares.png) repeat;
	height: $page-height;
	left: 0;
	overflow: auto;
	position: fixed;
	top: $header-height;
	width: 100%;
	z-index: 1;

	.page {
		height: 100%;
		position: relative;
		width: 100%;

		.over-footer {
			bottom: 0;
			height: $footer-height;
			left: 0;
			position: fixed;	
			width: 100%;
		}
	}
}

@import '../components/header/style';
@import '../components/footer/style';
@import '../components/particles/style';
@import '../components/image-list/style';

@import '../routes/image-page/style';
