.image-page {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow: hidden;

  .back-layer {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      border: 2px solid #222;
      border-radius: 2px;
      height: auto;
      position: relative;
      width: 100%;
      z-index: 1;
    }
  }
}